@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}

.container {
  width: 94%;
  margin: 50px auto 0 !important;
}

.card {
  border-radius: 15px;
  border: 1px solid #dbf0ff;
  background: #f6faff;

  min-width: 275px;
  max-width: 350px;
  /* flex: 1 0 calc(25% - 30px); */
}

.products__wrapper {
  gap: 30px;
  /*   row-gap: 20px; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  width: 100%;
}

@media (max-width: 600px) {
  .card {
    max-width: 100%;
  }
}

.card__header {
  border: 1px solid #d7e6ff;
  border-radius: 15px 15px 30px 30px;

  width: 100%;
  height: 200px;
  overflow: hidden;
  background: #fff;

  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card__header--slider {
  width: 100%;
  height: 100%;

  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  scroll-behavior: auto;
}

.card__header--slider::-webkit-scrollbar {
  display: none;
}

#slider__dots--container {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__header__img {
  flex: 0 0 100%;
  scroll-snap-align: start;

  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card__header__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__favorite__checkbox {
  --size-fav-btn: 40px;
  width: var(--size-fav-btn);
  height: var(--size-fav-btn);
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(126, 142, 167, 0.48);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;

  position: absolute;
  top: 5px;
  right: 10px;
}

.card__favorite__checkbox:hover {
  background: rgb(126, 142, 167, 0.75);
}

.card__favorite__checkbox input {
  display: none;
}

.card__favorite__checkbox input:checked + svg {
  fill: red;
  stroke: red;
}
.card__favorite__checkbox svg {
  transition: all 0.1s ease;
  fill: #f0f2f5;
  stroke: #666f8d;
  stroke-width: 2px;
}

.card__content {
  padding: 0 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product__author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product__author__avatar {
  --size-prod-avat: 20px;
  width: var(--size-prod-avat);
  height: var(--size-prod-avat);
  display: block;

  overflow: hidden;
  border-radius: 50%;
}

.product__author__avatar img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  vertical-align: auto;
}

.product__author__name {
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 400;
  margin: 0;
}

.product__details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product__details__header {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: baseline;
}

.product__title {
  --title-lh: 19.36px;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--title-lh);
  max-height: calc(var(--title-lh) * 2);
  min-height: calc(var(--title-lh) * 2);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.product__price {
  flex-shrink: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 18.15px;
  color: #004a7b;
}

.product__description {
  --desc-lh: 14.52px;
  font-size: 12px;
  font-weight: 400;
  line-height: var(--desc-lh);
  color: #696e81;

  max-height: calc(var(--desc-lh) * 3);
  min-height: calc(var(--desc-lh) * 3);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.card__content--btn {
  --size-btn-download: 24px;

  background: none;
  border: none;

  width: var(--size-btn-download);
  height: var(--size-btn-download);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card__content--footer {
  display: flex;
}

.card__installed__product {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card__installed__product {
  font-size: 12px;
  line-height: 14.52px;
  color: #a3a6b1;
}

.installers__avatars {
  display: flex;
}

.installer__avatar {
  --size-i-avatar: 24px;
  width: var(--size-i-avatar);
  height: var(--size-i-avatar);

  border-radius: 50%;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #dcdcde;
  color: #535158;
  font-size: 12px;
  line-height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.7);
}
.installer__avatar:not(:first-child) {
  margin-left: -8px;
}

.installer__avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__content--btn {
  margin-left: auto;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}
.card__content--btn:hover {
  opacity: 1;
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  --size-dot: 8px;

  width: var(--size-dot);
  height: var(--size-dot);
  margin: 0 5px;
  background-color: #dbf0ff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot:hover,
.dot.active {
  background-color: #85ccff;
}

.product__categories {
  margin-bottom: 50px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn {
  background: none;
  border: none;
}

.btn__categories {
  padding: 9px 48px;
  color: #474d64;
  font-size: 12px;
  line-height: 15.52px;
  background-color: #dbf0ff;
  border-radius: 10px;
  transition: background 0.2s ease;
  cursor: pointer;
}
.btn__categories.active {
  background-color: #3aacff;
  color: #ffffff;
}
.btn__categories:hover {
  background-color: #98d4ff;
}

.checkbox__category--item {
  padding: 9px 48px;
  color: #474d64;
  font-size: 12px;
  line-height: 15.52px;
  background-color: #dbf0ff;
  border-radius: 10px;
  transition: background 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox__category--item input {
  display: none;
}
.checkbox__category--item.active {
  background-color: #3aacff;
  color: #ffffff;
}

.product__page__title {
  font-size: 36px;
  line-height: 43.57px;
  font-weight: 500;
  color: #19213d;
  margin-bottom: 25px;
}

/* PRODUCT WRAPPER */
.product__slider--wrapper {
  width: 100%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;

  max-width: 780px;
  aspect-ratio: 16 / 9;
  border: 1px solid #333;
}

.tabs__details-tab {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 500;
  padding-bottom: 3px;
  color: #d9d9d9;
  transition: color 0.2s ease;
  margin-right: 1rem;
  cursor: pointer;
}
.tabs__details-tab:hover {
  color: #5d5d5d;
}

.tabs__details-tab.active {
  color: #000;
  border-bottom: 2px solid #2388ff;
}

.product__page__details {
  display: flex;
}

.product__page__details--info {
  width: 45%;
}
.product__page__description {
  margin: 20px 0 30px;
  font-size: 16px;
  line-height: 19.36px;
  color: #000;
}

.product__page__details--title {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  color: #636b6f;
  margin-bottom: 15px;
  margin-top: 25px;
  display: block;
}

.product__page__details--other {
  width: 275px;
  margin-left: auto;
}

.product__page__details--price span {
  font-size: 16px;
  font-weight: 500;
  color: #636b6f;
}

.product__page__details--price .price {
  margin-top: 8px;
  margin-bottom: 25px;
  font-size: 32px;
  line-height: 38.73px;
  color: #004a7b;
}
.product__page__details--price .price sup {
  font-size: 16px;
  line-height: 19.36px;
  color: #004a7b;
}

.product__page__details--btn {
  width: 100%;
  padding: 26px;
  background: #2388ff;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 19.36px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: auto;
}

.product__page__details--tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.product__page__details--tags span {
  padding: 3px 8px;
  font-size: 12px;
  line-height: 14.52px;
  background: #efefef;
  border-radius: 30px;
}

.product__page__details--author .product__author__avatar {
  width: 30px;
  height: 30px;
}
.product__page__details--author .product__author__name {
  font-size: 14px;
  line-height: 16.94px;
}

.review__container {
  margin-top: 15px;
}

.review__card {
  display: flex;
  align-items: center;
  gap: 50px;
}

.review__card--block {
  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 400px;
  height: 200px;
  border-radius: 10px;
  background: #c0dcfb;

  display: flex;
  justify-content: center;
  align-items: center;
}

.review__card--block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #191c1f;
}
.review__card--block p span {
  color: #475156;
}

.review__card--progressbar {
  flex-grow: 1;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

@media (max-width: 750px) {
  .review__card {
    flex-direction: column;
  }
  .review__card--block,
  .review__card--progressbar {
    width: 100%;
  }
}

.progressbar {
  display: flex;
  align-items: center;
  gap: 15px;
}
.progressbar__stars {
  display: flex;
  gap: 2px;
}
.progressbar__star {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progresssbar__bar,
.progress__bar-fill {
  display: block;
  flex-grow: 1;
  height: 4px;
  border-radius: 100px;
  background-color: #e4e7e9;
}

.progressbar__percent {
  width: 92px;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.progressbar__percent span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #77878f;
  margin-left: 5px;
}

.progress__bar-fill {
  background: #2388ff;
  width: 63%;
}
.progressbar:nth-child(2) .progress__bar-fill {
  width: 24%;
}

.progressbar:nth-child(3) .progress__bar-fill {
  width: 9%;
}

.progressbar:nth-child(4) .progress__bar-fill {
  width: 1%;
}

.progressbar:nth-child(5) .progress__bar-fill {
  width: 7%;
}

.review__messages {
  margin-top: 15px;
  border-top: 1px solid #e4e7e9;
  width: 100%;
}
.review__message {
  padding-block: 25px;
  border-bottom: 1px solid #e4e7e9;

  max-width: 750px;
  width: 100%;
  margin-bottom: 25px;
}

.message__header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.message__avatar {
  --size-ms-avatar: 48px;
  width: var(--size-ms-avatar);
  height: var(--size-ms-avatar);
  border-radius: 50%;
  overflow: hidden;
}

.message__avatar img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.message__author {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #191c1f;
}
.message__author span {
  font-weight: 400;
  color: #5c6c72;
}

.author__review--stars {
  display: flex;
  margin-top: 8px;
  gap: 4px;
}

.product__btn--outline {
  border: 1px solid #2388ff;
  background: transparent;
  padding: 29px 61px;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 10%;
  color: #2388ff;
  text-transform: uppercase;
  border-radius: 10px;
}

.popupBtn {
  padding: 10px 20px;
  background: #000;
  border: none;
  color: #fff;
  cursor: pointer;
}

.popupBtnClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  display: none;
}

.modal {
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
  padding: 32px 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  background-color: #fff;
  position: relative;
}

.modal__review {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__review form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__review h3 {
  font-size: 24px;
  line-height: 32px;
}

.modal__review--text {
  margin-top: 31px;
  margin-bottom: 11px;
  font-size: 16px;
  color: #0d0c22;
}

#reviewStars-input input {
  display: none;
}

#reviewStars-input input:checked ~ label svg {
  /* background-position: 0 -40px; */
  fill: currentColor;
  stroke: currentColor;
  color: #2388ff;

  /* background: red; */
}

#reviewStars-input label {
  background-position: 0 0;
  height: 45px;
  width: 47px;
  float: right;
  cursor: pointer;
  padding-right: 20px;
  box-sizing: content-box;

  position: relative;
  z-index: 1;
  transition: background 0.2s ease;

  &:nth-child(2) {
    padding-right: 0;
  }
}

#reviewStars-input label svg {
  stroke: #adb7bc;
  color: transparent;
  fill: currentColor;
  transition: all 0.1s ease;
}

#reviewStars-input label:hover svg,
#reviewStars-input label:hover ~ label svg {
  stroke: #2388ff;
  fill: currentColor;

  color: #2388ff;
}

.modal__review__textarea {
  width: 100%;
  aspect-ratio: 16 / 6;
  resize: none;
  background: #f6f6f6;
  border: none;
  border-radius: 8px;
  padding: 15px 22px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;

  margin-top: 35px;
  margin-bottom: 15px;
}

.modal__review__textarea:focus-visible {
  outline: 2px solid #2388ff;
}

.modal__review--send {
  width: 100%;
  padding-block: 26px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  border: none;
  background: #2388ff;
  color: #fff;
  cursor: pointer;
}

.modal__review--success {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.modal__review--success h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: #0d0c22;
}
.modal__review--success .modal__review--success__text {
  font-size: 16px;
  line-height: 19.32px;
  font-weight: 400;
  color: #0d0c22;
}

.dnone {
  display: none;
}

.pie {
  box-sizing: border-box;
  display: inline-block;
  width: 19.359px;
  height: 19.359px;
  position: relative;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: #2388ff;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
